#root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}

.gap-sm {
  gap: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}
.h-full {
  height: 100%;
}